body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(background.webp);
    text-align: center;
   
    color: blue;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Times New Roman', Times, serif;
    font-size: large;

}
.Container{
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

h1{
  font-weight: 700;
  margin-top: 150px;
  
}
span{
  color: beige;
}
p{
  font-size: 24px;
}

input{
  width: 350px;
  padding: 5px;
  background-color: transparent;
}

.display {
  text-align: center;
  width: 400px;
  color: #16a864;
}

.wrapper {
  position: center;
  justify-content: center;
  align-items: center;
}
  
.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background:black;
    justify-content: center;
    color: white;
    font-family: sans-serif;
  }
  .wrapper p{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: black;
    font-size:23px;
  }

  .wrapper h2 span{
    font-size: 26px;
    color: black;
  }

  .wrapper p span{
    color: #90006e;
    font-size: 25px;
  }
