body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(background.webp);
    text-align: center;
   
    color: black;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Times New Roman', Times, serif;
    font-size: large;

}
.Container{
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

h1{
  font-weight: 700;
  margin-top: 150px;
}
p{
  font-size: 24px;
}

input{
  width: 350px;
  padding: 5px;
}
